target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

**/.DS_Store

### IntelliJ IDEA ###
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/gradle.xml
.idea/libraries/
.idea/kotlinc.xml
.idea/shelf/
**/*.iml

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.json
